<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    codeial / Profile page
</h1>

<!-- <p>
    <%=user.name%>
</p>

<p>
    <%= user.email%>
</p> -->




<%if(user.id == profile_user.id){%>
    <!-- if matches then show the update -->
    <form action="/users/update/<%=profile_users.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_users.name%>" required>
    </form>
    <%} else {%>
        <!-- else show only profile page -->
        <p>
            <%= profile_user.name%>
        </p>
        <p>
            <%=profile_user.email%>
        </p>
        <%}%>

            <a href="/users/sign-out">
                <button type="submit">Sign Out</button>
            </a>